body {
  margin: 0;
}

html {
  font-family: "Spectral SC", serif;
  color: #7f82b2;
}

header {
  font-family: "Spectral SC", serif;
  color: #7f82b2;
  display: block;
}

.masthead {
  text-align: center;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  height: 100vh;
}

a {
  text-decoration: none;
  color: wheat;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 5vw;
  margin: 0;
}

.header-subtitle {
  font-size: 3vw;
  justify-self: flex-start;
  width: fit-content;
  display: flex;
  font-family: "Spectral SC", serif;
  color: #7f82b2;
  margin: 0;
  padding-bottom: 20px;
}

.nav-bar-top {
  display: flex;
  justify-content: space-evenly;
  font-size: 3vw;
  border-bottom: 5px solid black;
}

.title-container {
  display: flex;
  flex-direction: column;
}

body {
  /* background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: #030a10; */
}

.about {
  height: 100vh;
  background: green;
}
.consultants {
  height: 100vh;
  background: grey;
}
.projects {
  height: 100vh;
  background: blue;
}
.contact {
  height: 100vh;
  background: yellow;
}
.card {
  width: 20vw;
  height: 30vw;
  background-color: white;
  border-radius: 10px;
}

.card-img-top {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-body {
  width: 95%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.consultant-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.dot-container {
  display: flex;
  align-items: center;
}

.dots:nth-child(even) {
  height: 6px;
  width: 6px;
}

.dots {
  width: 5px;
  height: 5px;
  background-color: #7f82b2;
  border-radius: 50%;
  margin: 2px;
}

.card-title,
.card-subtitle {
  font-size: 2vw;
  padding: 0;
  color: black;
  margin: 0;
  display: flex;
}

.card-text {
  font-size: 1vw;
}

.footer {
  text-align: center;
}

/* Photo by Daniel Leone on Unsplash */
/* Photo by Austin Distel on Unsplash */
